/* Back to Top Button */

#topBtn{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    height: 48px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 48px;
    z-index: 999;
}

#topBtn i{
    -moz-user-select: none;
    -webkit-user-select: none;
    line-height: 48px;
    user-select: none;
}

/* Search Results */

#resultsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.faveContainer, .gifContainer{
    display: inline-block;
}