/* Topic Buttons */

.close-btn{
    cursor: pointer;
    padding: 0.25rem;
    margin: 0 0.25rem 0 -0.25rem;
    vertical-align: top;
}

/* Search Results */

#resultsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gifContainer{
    display: inline-block;
}